/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
html,
body,textarea {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 0.1em;
}
input::placeholder, textarea{
  color: #2F3340;
}
a {
  text-decoration: none;
  outline: none;
}
.nav-list-item:nth-child(4n + 4) > a {
  border-bottom: 1px solid #f40723;
  color: #f40723;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}
.nav-list-item > a:hover {
  border-bottom: 1px solid #f40723;
  color: #f40723;
}
li {
  text-decoration: none;
}

.d-flex-space-bettwen-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.d-flex-space-evenly-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.divider {
  width: 5vw;
  margin: 1vh auto;
}

.container {
  max-width: 70vw;
  margin: auto;
  height: 100vh;
}
.container-fluid {
  max-width: 100vw;
  margin: auto;
  height: 100vh;
}
.row {
  max-width: 70vw;
  margin: auto;
}

.btn {
  outline: none;
  cursor: pointer;
  border: none;
}
.btn-primary {
  background-color: #462bbe;
  color: #fff;
}
.btn-danger {
  background-color: #f40723;
  color: #fff;
}
.btn-outline {
  border: 1px solid #fff;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: auto;
  padding: 20px;
}
.btn-outline:hover {
  border: 1px solid #f40723;
  color: #f40723;
}

/* gestion des marges externes horizontales en valeur positives et negatives (n) */
.mx-1 {
  margin-left: 0.625em;
  margin-right: 0.625em;
}

.mx-2 {
  margin-left: 1.25em;
  margin-right: 1.25em;
}

.mx-3 {
  margin-left: 1.875em;
  margin-right: 1.875em;
}

.mx-4 {
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.mx-5 {
  margin-left: 3.125em;
  margin-right: 3.125em;
}

.mx-n1 {
  margin-left: -0.625em;
  margin-right: -0.625em;
}

.mx-n2 {
  margin-left: -1.25em;
  margin-right: -1.25em;
}

.mx-n3 {
  margin-left: -1.875em;
  margin-right: -1.875em;
}

.mx-n4 {
  margin-left: -2.5em;
  margin-right: -2.5em;
}

.mx-n5 {
  margin-left: -3.125em;
  margin-right: -3.125em;
}
/* gestion des marges externes verticales en valeur positives et negatives (n)*/
.my-1 {
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}

.my-2 {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.my-3 {
  margin-top: 1.875em;
  margin-bottom: 1.875em;
}

.my-4 {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.my-5 {
  margin-top: 3.125em;
  margin-bottom: 3.125em;
}

.my-n1 {
  margin-top: -0.625em;
  margin-bottom: -0.625em;
}

.my-n2 {
  margin-top: -1.25em;
  margin-bottom: -1.25em;
}

.my-n3 {
  margin-top: -1.875em;
  margin-bottom: -1.875em;
}

.my-n4 {
  margin-top: -2.5em;
  margin-bottom: -2.5em;
}

.my-n5 {
  margin-top: -3.125em;
  margin-bottom: -3.125em;
}
/* gestion des marges interne horizontales*/
.px-1 {
  padding-left: 0.625em;
  padding-right: 0.625em;
}

.px-2 {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.px-3 {
  padding-left: 1.875em;
  padding-right: 1.875em;
}

.px-4 {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.px-5 {
  padding-left: 3.125em;
  padding-right: 3.125em;
}
/* gestion des marges internes verticales*/
.py-1 {
  padding-top: 0.625em;
  padding-bottom: 0.625em;
}

.py-2 {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.py-3 {
  padding-top: 1.875em;
  padding-bottom: 1.875em;
}

.py-4 {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.py-5 {
  padding-top: 3.125em;
  padding-bottom: 3.125em;
}
/* gestion des marges externes en valeur positives et negatives (n)*/
.m-1 {
  margin: 0.625em;
}

.m-2 {
  margin: 1.25em;
}

.m-3 {
  margin: 1.875em;
}

.m-4 {
  margin: 2.5em;
}

.m-5 {
  margin: 3.125em;
}

/* ml */
.ml-1 {
  margin-left: 0.625em;
}

.ml-2 {
  margin-left: 1.25em;
}

.ml-3 {
  margin-left: 1.875em;
}

.ml-4 {
  margin-left: 2.5em;
}

.ml-5 {
  margin-left: 3.125em;
}
/* mr */
.mr-1 {
  margin-right: 0.625em;
}

.mr-2 {
  margin-right: 1.25em;
}

.mr-3 {
  margin-right: 1.875em;
}

.mr-4 {
  margin-right: 2.5em;
}

.mr-5 {
  margin-right: 3.125em;
}
/* mt */
.mt-1 {
  margin-top: 0.625em;
}

.mt-2 {
  margin-top: 1.25em;
}

.mt-3 {
  margin-top: 1.875em;
}

.mt-4 {
  margin-top: 2.5em;
}

.mt-5 {
  margin-top: 3.125em;
}
/* mb */
.mb-1 {
  margin-bottom: 0.625em;
}

.mb-2 {
  margin-bottom: 1.25em;
}

.mb-3 {
  margin-bottom: 1.875em;
}

.mb-4 {
  margin-bottom: 2.5em;
}

.mb-5 {
  margin-bottom: 3.125em;
}
/* marges negative generale */
.m-n1 {
  margin: -0.625em;
}

.m-n2 {
  margin: -1.25em;
}

.m-n3 {
  margin: 1.875em;
}

.m-n4 {
  margin: -2.5em;
}

.m-n5 {
  margin: -3.125em;
}
.ml-n1 {
  margin-left: -0.625em;
}

.ml-n2 {
  margin-left: -1.25em;
}

.ml-n3 {
  margin-left: 1.875em;
}

.ml-n4 {
  margin-left: -2.5em;
}

.ml-n5 {
  margin-left: -3.125em;
}
/* gestion des marges interne generale*/
.p-1 {
  padding: 0.625em;
}

.p-2 {
  padding: 1.25em;
}

.p-3 {
  padding: 1.875em;
}

.p-4 {
  padding: 2.5em;
}

.p-5 {
  padding: 3.125em;
}
/* pt*/
.pt-1 {
  padding-top: 0.625em;
}

.pt-2 {
  padding-top: 1.25em;
}

.pt-3 {
  padding-top: 1.875em;
}

.pt-4 {
  padding-top: 2.5em;
}

.pt-5 {
  padding-top: 3.125em;
}
/* pb*/
.pb-1 {
  padding-bottom: 0.625em;
}

.pb-2 {
  padding-bottom: 1.25em;
}

.pb-3 {
  padding-bottom: 1.875em;
}

.pb-4 {
  padding-bottom: 2.5em;
}

.pb-5 {
  padding-bottom: 3.125em;
}
/*pl*/
.pl-1 {
  padding-left: 0.625em;
}

.pl-2 {
  padding-left: 1.25em;
}

.pl-3 {
  padding-left: 1.875em;
}

.pl-4 {
  padding-left: 2.5em;
}

.pl-5 {
  padding-left: 3.125em;
}
/*pr*/
.pr-1 {
  padding-right: 0.625em;
}

.pr-2 {
  padding-right: 1.25em;
}

.pr-3 {
  padding-right: 1.875em;
}

.pr-4 {
  padding-right: 2.5em;
}

.pr-5 {
  padding-right: 3.125em;
}

/* header */
.header > div > div > a > img,.header-banner > div > div > a > img {
  width: 15vw;
}
.header {
  background: rgb(34, 34, 34)
    url("../img/background_home.png") center
    bottom/cover no-repeat;
}
.header-banner{
  background: radial-gradient(circle at 10% 20%, rgb(87, 108, 117) 0%, rgb(37, 50, 55) 100.2%);
  height: 40vh;
}
.header-banner > div > div {
  max-width: 70vw;
  margin: auto;
  
}
.header > div > div {
  max-width: 70vw;
  margin: auto;
}
.sticky {
  position: sticky;
  top: 0px;
}



/* nav */

nav > ul > li > a,
a {
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.nav-list {
  display: flex;
  justify-content: center;
}
.nav-list-item {
  flex-basis: auto;
  margin-right: 15px;
  margin-left: 10px;
  list-style-type: none;
}

/* hero */
.hero {
  max-width: 65vh;
  margin: 20vh auto;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.hero-title {
  font-size: 48px;
  text-align: center;
  padding: 10px;
  letter-spacing: 0.1em;
}
.hero-divider {
  border: 3px solid #fff;
}
.hero-description {
  text-align: center;
  padding: 15px;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

/* page login, register et reset-password*/
.element h1,p{
  color: white;
 
}
.element{
  margin-top: 300px;
}


.overlay-contain {
 display: block;
  background-image: url("../img/girl_car.png");
  background-size: cover;
  background-position: center;
 bottom:0px;
 
  height: 500px;
  max-width: 1200px;

  margin: 0 auto;

  padding: 20px;

  

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.overlay-container {
  position: relative;
  /* width: 100vw; */
  height: 100vh;
  background-image: url("../img/samuele-errico-piccarini-FMbWFDiVRPs-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* Pseudo-element pour creer l'overlay */
.overlay-container::before {
  content: "";
  position: absolute;
  /* width: 100vw; */
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 54, 67, 0.95);
  z-index: 1;
}

/* Contenu du overlay */
.overlay-content {
  position: relative;
  height: auto;
  z-index: 2;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 15vw;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid whitesmoke;
  border-radius: 0px;
  width: 30vw;
  margin: auto;
  color: whitesmoke;
  background-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(72, 120, 156, 0.15);
}
.card-title {
  text-align: center;
  letter-spacing: 0.5;
  font-size: 0.99rem;
}
.form-group {
  display: flex;
  flex-direction: row;
}
.form-group-icon {
  background: white;
  width: 10%;
  color: #2f3340;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-control {
  border: 1px solid white;
  width: 100%;
  outline: none;
}
.form-control-submit {
  width: 100%;
  outline: none;
}

.form-control:hover,
.form-control:focus {
  border: 1px solid #462bbe;
}

.forget-pwd,
.new-member {
  font-size: 0.8rem;
}
.forget-pwd a,
.new-member a {
  font-size: 0.8rem;
  text-decoration-line: underline;
}
.forget-pwd a:hover,
.new-member a:hover {
  color: #462bbe;
  font-size: 0.8rem;
}

/* css Dashboard */
#search::placeholder {
  color: #53a8b6;
}
/* main */
.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
}
/* header */
.dashboard-header {
  height: 50px;
  background: #2f3340;
  border-bottom: 0.4px solid #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* navbar */
.dashboard-navbar {
  display: flex;
}
.dashboard-navbar > img {
  height: 50px;
}
.dashboard-navbar-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 15 vw;
}
.dashboard-navbar-nav>span>i{
  font-size: 20px; font-weight: 600; color: #53a8b6;
}
.dashboard-navbar-nav-item{
  display: flex; justify-content: center;align-items: center;
}
.dashboard-navbar-nav-item>img{
  height: 30px; border-radius: 50%;
}
.dashboard-navbar-nav-profile{
  flex: 1; display: flex;flex-direction: column;
}
.dashboard-navbar-nav-profile>span{
  font-size: .8rem;color: #fee;
}
.dashboard-navbar-nav-profile>span+span{
  font-size: .7rem;color: #53a8b6;
}
.seacr-icon-wrapper {
  color: #aaa;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.seacr-icon-wrapper > span > i {
  font-size: 15px;
  font-weight: 600;
  color: #53a8b6;
}
.searc-input-wrapper {
  display: flex;
  flex-direction: row;
  background: #242731;
  height: 35px;
  border-radius: 5px;
}
#search {
  background: #242731;
  border: none;
  outline: none;
  color: #53a8b6;
}
/* sidebar */
.sidebar-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.sidebar {
  background: #2f3340;
  flex-basis: 18vw;
  border-right: 0.4px solid #aaa;
  
}
.sidebar-nav {
  border-bottom: 1px solid #aaa;
}
.sidebar-nav > ul,
ul {
  list-style: none;
}
.sidebar-nav-item {
  border-radius: 5px;
}
.sidebar-nav-item-active,
.sidebar-nav-item:hover {
  background: #53a9b66e;
}

.sidebar-nav-item-link {
  font-size: 0.9rem;
  color: #bbe4e9;
}
.sidebar i{
  font-size: 15px;
}

/* content-display */
.content-display{
  background: #242731;flex: 1;
  
}

/* car section */

.card-car{
  width: 300px;
  height :420px;
  position: relative;
  background: #f0f0f0;
}
.product-img-1{
  background: url("../img/7.png") center;
}
.product-img-2{
  background: url("../img/8.png") center;
}
.product-img-3{
  background: url("../img/9.png") center;
}
.product-img-4{
  background: url("../img/10.png") center;
}
.product-img-5{
  background: url("../img/11.png") center;
}
.product-img-6{
  background: url("../img/13.png") center;
}
.fa-heart{
  color: red;
  font-size: 30px;
}

.fa-heart:hover{
  color: green;
  font-size: 30px;
}
.product-img{
  width: 300px;
  height: 200px;
  background-repeat:no-repeat ;
  background-size: cover;
}

.product-detail{
  width:300px;
  height:190px;
  background-color: #323643;
  border-radius: 0 40% 0 0;
  padding: 0.8rem;
  font-family: "Poppins",sans-serif;
  color: #fff;
}
.rating{
  font-size: 0.7rem;
  color:#fdcc0d;
  user-select: none;
}

.product-detail p{
  font-size: 0.8rem;
   color:gray;
   margin-top: 7px;
}

.buttons{ 
  height : 65px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-product{
  position: relative;
  border: none;
  outline: none;
  background-color: #1db853;
  color: #fff;
  height:40px;
  border-radius:50px ;
  font-size: 0.9rem;
  font-family: "Poppins",sans-serif;
  cursor: pointer;
}


.cart{
  width:160px;
}

.favourite{
  width: 40px;
  border-radius: 50%;
 
}

.btn-product::before{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border: 1px solid #35353f;
  height: 45px;
  transition: 0.35s;
}

.cart::before{
  width: 165px;
  border-radius:50px;

}

.favourite::before{
  width: 45px;
  border-radius:50%;
}

.btn-product:hover::before{
border-color:#fff;
}

.overlay-contain {
  display: block;
   background-image: url("../img/girl_car.png");
   background-size: cover;
   background-position: center;
  bottom:0px;
  
   height: 500px;
   max-width: 1200px;
 
   margin: 0 auto;
 
   padding: 20px;
 
   
 
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 .bt1 {
  
  display: inline-block;

  padding: 10px 20px;

  margin: 5px;

  background-color: #007bff;

  color: #ffffff;

  text-decoration: none;

  border-radius: 4px;

}


.bt1:hover {

  background-color: #0056b3;

  color: #ffffff;

}
 /* footer section */




footer {

  background-color: #323643;
  
  color: #fff;
  
  padding: 30px 0;
  
  }
  
  
  .footer-container {
  
  display: flex;
  
  justify-content: space-around;
  
  padding: 0 20px;
  
  }
  
  
  .footer-column {
  
  width: 30%;
  font-size: 24px;
  
  margin-bottom: 10px;
  }
  
  
  
  
  footer   {
  
  text-decoration: none;
  
  margin-bottom: 5px;
  
  display: block;
  
  }
  
   
  
  .footer-bottom  {
  
  text-align: center;
  
  padding: 20px 0;
  
   
  
  }
 